<div id="<%= dom_id user %>">
  <div class="col  mb-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= user.name %></h5>
        <p class="card-text"><%= user.email %></p>
        <a href="<%= client_path(user) %>" class="btn btn-primary">Detail</a>
      </div>
    </div>
  </div>
</div>