<div class="col">
<h1>Editing client</h1>

<%= render "form", client: @client %>

<br>

<div>
  <%= link_to @show_client_text, [@client.becomes(User)] %> |
  <%= link_to "Back to clients", clients_path %>
</div>
</div>