<div class="col">
  <h1>Users</h1>

  <div id="users">
    <% @clients.users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</div>
<div class="col">
  <h1>Teams</h1>

  <div id="teams">
    <% @clients.teams.each do |team| %>
      <%= render team %>
    <% end %>
  </div>
</div>
<div class="col">
  <h1>Stock</h1>

  <div id="teams">
    <% @clients.stocks.each do |stock| %>
      <%= render stock %>
    <% end %>
  </div>
</div>