<div class="col">
  <%= render @user %>

  <div>
    <%= link_to "Check client transactions", client_transactions_path(@user) %> |
    <%= link_to @edit_client_text, edit_client_path(@user) %> |
    <%= link_to "Back to clients", clients_path %>

  </div>
</div>
